body {
    margin: 0;
    /* background-color: #333; */
    background-color: #fff;
}

h1, h2, h3, h4, p, a, label {
    font-family: ".SF NS", Helvetica, sans-serif;
    color: #222;
}

.sidenav {
    height: 100%;
    /** width: 300px; **/
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #eee;
    overflow: hidden;
    padding-top: 20px;
}

.sidenav h1 {
    padding: 6px 8px 6px 16px;
    display: block;
}

.sidenav a {
    padding: 12px 8px 12px 16px;
    text-decoration: none;
    font-size: 18px;
    color: #111;
    display: block;
}

.sidenav a:hover {
    background-color: #fff;
}

.btn {
    border: none;
    outline: none;
    cursor: pointer;
}

.active {
    background-color: #fff;
    color: white;
}

.main {
    margin-left: 300px;
    text-align: center;
    height: auto;
    width: auto;
    padding: 28px;
}

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

.insert {
    padding: 20px 0 65px 0;
    border: 3px dotted #eee;
}

.insert .input-location {
    width: 500px;
    height: 30px;
    border: 2px solid #ddd;
}

form button {
    height: 36px;
    border: 2px solid #ddd;
    cursor: pointer;
}

.balance-viewer {
    height: 100px;
    margin-top: 50px;
    padding: 50px;
    border: 3px dotted #eee;
}